{% extends "layout.html" %}{% block style %}{% endblock %}{% block main %}

<!-- component -->
<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <h2 class="font-semibold text-xl text-gray-600">Add a new address</h2>
            <p class="text-gray-500 mb-6">Fill all the infromation</p>


            <form action="/address=confirm" method="post">
                <div class="lg:col-span-2">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                        <div class="md:col-span-5">
                            <label for="full_name">Full Name(first and last name)</label>
                            <input type="text" name="name" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required value="{{data.username}}" placeholder="" />
                        </div>

                        <div class="md:col-span-5">
                            <label for="phone">Phone number</label>
                            <input type="tel" name="mobile" autocomplete="off" id="phone" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required value="{{data.mobile}}" placeholder="" />
                        </div>

                        <div class="md:col-span-3">
                            <label for="address">Address</label> {% if data.address1 %}
                            <input type="text" name="address1" id="address1" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required value="{{data.address1}}" placeholder="Street address or P.O. box" /> {% else %}
                            <input type="text" name="address1" id="address1" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required value="" placeholder="Street address or P.O. box" /> {% endif %} {% if data.address2 %}
                            <input type="text" name="address2" id="address2" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{data.address2}}" placeholder="Near street, area (Optional)" /> {% else %}
                            <input type="text" name="address2" id="address2" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="Near street, area (Optional)" /> {% endif %}

                        </div>
                        <div class="md:col-span-2">
                            <label for="state">State </label>
                            <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                {% if data.state %}
                                <input name="state" id="state" placeholder="State" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" required value="{{data.state}}" /> {% else %}
                                <input name="state" id="state" placeholder="State" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" required value="" />{% endif %}

                                <button tabindex="-1" class="cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-red-600">
                <svg class="w-4 h-4 mx-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
              </button>
                                <button tabindex="-1" for="show_more" class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-300 hover:text-blue-600">
                <svg class="w-4 h-4 mx-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="18 15 12 9 6 15"></polyline></svg>
              </button>
                            </div>
                        </div>
                        <div class="md:col-span-2">
                            <label for="city">City</label> {% if data.city %}
                            <input type="text" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required value="{{data.city}}" placeholder="" />{% else %}
                            <input type="text" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" required value="" placeholder="" /> {% endif %}

                        </div>
                        <div class="md:col-span-1">
                            <label for="zipcode">Zipcode</label> {% if data.zip %}
                            <input type="text" name="zip" id="zipcode" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" required placeholder="" value="{{data.zip}}" /> {% else %}
                            <input type="text" name="zip" id="zipcode" class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50" required placeholder="" value="" />{% endif %}

                        </div>

                        <div class="md:col-span-5">
                            <div class="inline-flex items-center">
                                <input type="checkbox" name="billing_same" id="billing_same" class="form-checkbox" checked disabled/>
                                <label for="billing_same" class="ml-2">Make this my default address</label>
                            </div>
                        </div>


                        <div class="md:col-span-5 text-center">
                            <div class="inline-flex items-center">
                                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}{