{% extends "layout.html" %}{% block style %}
<script src="https://cdn.tailwindcss.com">
</script>
{% endblock %}{% block main %}
<div class="container mx-2 overflow-hidden">
    <section class="text-gray-600 body-font ">
        <h1 class="my-3" style="text-align:center ;font-size:xx-large;">Select a T-shirt</h1>
        <div class="container px-5 py-24 mx-auto">

            <div class="flex flex-wrap -m-4">

                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Basic-half-sleeve-T-shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Basic halfs sleeve T-shirt</h2>

                    </div>
                </div>

                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Muscle-Shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Muscle Shirt</h2>
                    </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Long-sleeve-Crew-neck-T-shirts_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Long sleeve Crew neck T shirts</h2>

                    </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Ringer-T-–-shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Ringer T-shirt</h2>

                    </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Pocket-T-shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Pocket T-shirt</h2>

                    </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Polo-collar-t-shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Polo collar t-shirt</h2>

                    </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/V-neck-t-shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">V-neck t-shirt</h2>

                    </div>
                </div>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a href="/memeType" class="block relative h-65 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="/static/assets/Tshirts/Henley-collar-T-shirt_122719.png">
                    </a>
                    <div class="mt-4">
                        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
                        <h2 class="text-gray-900 title-font text-lg font-medium">Henley collar T-shirt</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}