{% extends "layout.html" %}{% block style %}
<style>
    .bd {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-family: 'Jost', sans-serif;
        background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    }
    
    .m {
        width: 350px;
        height: 500px;
        background: red;
        overflow: hidden;
        background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
        border-radius: 10px;
        box-shadow: 5px 20px 50px #000;
    }
    
    #chk {
        display: none;
    }
    
    .signup {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .label {
        color: #fff;
        font-size: 2.3em;
        justify-content: center;
        display: flex;
        margin: 60px;
        font-weight: bold;
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    
    .input {
        width: 60%;
        height: 30px;
        background: #e0dede;
        justify-content: center;
        display: flex;
        margin: 20px auto;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
    }
    
    .button {
        width: 60%;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin-top: 20px;
        background: black;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }
    
    .btn1 {
        color: #fff;
        background: black;
    }
    
    .btn2 {
        background: #fff;
        color: #573b8a;
    }
    
    .btn1:hover {
        background: #fff;
        color: #573b8a;
    }
    
    .btn2:hover {
        background: #6d44b8;
        color: white;
    }
    
    .login {
        height: 460px;
        background: #eee;
        border-radius: 60% / 10%;
        transform: translateY(-180px);
        transition: .8s ease-in-out;
    }
    
    .login label {
        color: #573b8a;
        transform: scale(.6);
    }
    
    #chk:checked~.login {
        transform: translateY(-500px);
    }
    
    #chk:checked~.login label {
        transform: scale(1);
    }
    
    #chk:checked~.signup label {
        transform: scale(.6);
    }
</style>

{% endblock %}{% block main %}
<div class="bd">
    <div class="m">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            {% if page=="signup" %} {% if action=="queDisplay" %}
            <form method="post" autocomplete="on" action="/signup=ty/{{srNo}}=queDisplay" enctype="multipart/form-data">{% else %}
                <form method="post" autocomplete="on" action="/signup=ty/0=view" enctype="multipart/form-data">{% endif %}
                    <label class="label" for="chk" aria-hidden="true">Sign up</label>
                    <input class="input" type="text" name="username" placeholder="User name" required=""> {% elif page=="login" %} {% if action=="queDisplay" %}
                    <form method="post" autocomplete="on" action="/login=ty/{{srNo}}=queDisplay" enctype="multipart/form-data">{% else %}
                        <form method="post" autocomplete="on" action="/login=ty/0=view" enctype="multipart/form-data">{% endif %}
                            <label class="label" for="chk" aria-hidden="true">Login</label> {% endif %}
                            <input class="input" type="tel" name="mobile" placeholder="Mobile" required="">
                            <input class="input" type="password" name="pswd" placeholder="Password" required=""> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                            <label for="#" style="font-size:small ;text-align:center;margin-left:22%;color:white;">{{ message }}</label> {% endfor %} {% endif %} {% endwith %} {% if page=="signup" %}
                            <button class="button btn2" type="submit">Sign up</button> {% elif page=="login" %}<button class="button btn1" type="submit">Log In</button>{% endif %}

                        </form>
        </div>

        <div class="login">
            {% if page!="signup" %} {% if action=="queDisplay" %}
            <form method="post" autocomplete="on" action="/signup=ty/{{srNo}}=queDisplay" enctype="multipart/form-data">
                {% else %}
                <form method="post" autocomplete="on" action="/signup=ty/0=view" enctype="multipart/form-data">{% endif %}
                    <label class="label" for="chk" aria-hidden="true">Sign up</label>
                    <input class="input" type="text" name="username" placeholder="User name" required=""> {% elif page!="login" %} {% if action=="queDisplay" %}
                    <form method="post" autocomplete="on" action="/login=ty/{{srNo}}=action" enctype="multipart/form-data">{% else %}
                        <form method="post" autocomplete="on" action="/login=ty/0=view" enctype="multipart/form-data">{% endif %}
                            <label class="label" for="chk" aria-hidden="true">Login</label> {% endif %}
                            <input class="input" type="tel" name="mobile" placeholder="Mobile" required="">
                            <input class="input" type="password" name="pswd" placeholder="Password" required=""> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                            <label for="#" style="font-size:small ;text-align:center;margin-left:22%;color:white;">
                        {{ message }}</label> {% endfor %} {% endif %} {% endwith %} {% if page!="signup" %}
                            <button class="button btn2" type="submit">Sign up</button> {% elif page!="login" %}
                            <button class="button btn1" type="submit">Log In</button>{% endif %}
                        </form>
        </div>
    </div>
</div>{% endblock %}