 {% extends "layout.html" %}{% block style %}
<style>
    * {
        font-family: 'Quicksand', sans-serif;
    }
    
    input {
        border: 1px dashed grey;
        border-radius: 5px;
        width: 100%;
        height: 35px;
    }
    
    .or {
        text-align: center;
        color: cadetblue;
        font-size: xx-large;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css" integrity="sha512-wl80ucxCRpLkfaCnbM88y4AxnutbGk327762eM9E/rRTvY/ZGAHWMZrYUq66VQBYMIYDFpDdJAOGSLyIPHZ2IQ==" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap" rel="stylesheet"> {% endblock %}{% block main %}

<article id="the-article">

    <div>
        <form action="/queDisplay/{{tshirtId}}=t/{{printId}}=p" method="post" enctype="multipart/form-data">
            <div class="mx-auto max-w-6xl">
                <div class="p-2 rounded">
                    <div class="flex flex-col  md:flex-row">
                        <div class="md:w-1/3 p-4 text-sm">

                            <div class="sticky inset-x-0 top-0 left-0 py-12">

                                <div class="container" style="margin:auto;">
                                    <img src="/static/files/samplePosts/{{queCont0.que}}" width="350" height="300" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="md:w-2/3 py-12 ">
                            <div class="p-4 ">
                                {% for key in queCont1 %}

                                <div class="item px-6 py-6" x-data="{isOpen : false}">
                                    <a href="#" class="flex items-center justify-between" @click.prevent="isOpen = true">
                                        <h4 :class="{'text-green-400 font-medium' : isOpen == true}">{{key.que}}</h4>
                                        <svg :class="{'transform rotate-180' : isOpen == true}" class="w-5 h-5 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 9l-7 7-7-7"></path>
                    </svg>
                                    </a>
                                    <div x-show="isOpen" @click.away="isOpen = false" class="mt-3" :class="{'text-gray-600' : isOpen == true}">
                                        {% if key.inputType=="file" %}

                                        <input class="queSet1" type="{{key.inputType}}" name="ans1werImg{{loop.index}}" id="ans1werImg{{loop.index}}" accept="image/*" required> {% else %}

                                        <input class="queSet1" type="{{key.inputType}}" name="ans1werText{{loop.index}}" id="ans1werText{{loop.index}}" accept="image/*" required> {% endif %}
                                    </div>
                                </div>
                                {% endfor %} {% if queCont2==3434 %}
                                <h1 class="or">OR<sup>*</sup></h1>
                                {% for key in queCont2 %}
                                <div class="item px-6 py-6" x-data="{isOpen : false}">
                                    <a href="#" class="flex items-center justify-between" @click.prevent="isOpen = true">
                                        <h4 :class="{'text-green-400 font-medium' : isOpen == true}">{{key.que}}</h4>
                                        <svg :class="{'transform rotate-180' : isOpen == true}" class="w-5 h-5 text-gray-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 9l-7 7-7-7"></path>
                    </svg>
                                    </a>
                                    <div x-show="isOpen" @click.away="isOpen = false" class="mt-3" :class="{'text-gray-600' : isOpen == true}">
                                        {% if key.inputType=="file" %}
                                        <input class="queSet2" type="{{key.inputType}}" name="ans2werImg{{loop.index}}" id="ans2werImg{{loop.index}}" accept="image/*"> {% else %}
                                        <input class="queSet2" type="{{key.inputType}}" name="ans2werText{{loop.index}}" id="ans2werText{{loop.index}}" accept="image/*"> {% endif %}
                                    </div>
                                </div>
                                {% endfor %} {% endif %}
                                <div class="container my-5 grid place-items-center">
                                    <button class="items-center bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                                    Submit
                                  </button></div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </form>
    </div>

</article>

<div x-data="scrollHandler(document.getElementById('the-article'))" x-cloak aria-hidden="true" @scroll.window="calculateHeight(window.scrollY)" class="fixed h-screen w-1 hover:bg-gray-200 top-0 left-0 bg-gray-300">
    <div :style="`max-height:${height}%`" class="h-full bg-green-400"></div>
</div>


<!-- <script>
    let queSet1 = document.querySelectorAll(".queSet1");
    let queSet2 = document.querySelectorAll(".queSet2");
    queSet1 = document.getElementsByClassName("queSet1");

    queSet1.forEach((elem1) => {
        elem1.addEventListener("change", () => {
            if (elem1.value != "") {
                queSet2.forEach((elem2) => {
                    elem2.removeAttribute("required");
                    elem2.setAttribute("disabled", "");

                });

            } else {
                queSet2.forEach((elem2) => {
                    elem2.setAttribute("required", "");
                    elem2.removeAttribute("disabled")
                })
            }
        });
    });
    queSet2.forEach((elem2) => {
        if (elem2.value != "") {
            queSet1.forEach((elem1) => {
                elem1.removeAttribute("required");
                elem1.setAttribute("disabled", "")
            })
        } else {
            queSet1.forEach((elem1) => {
                elem1.setAttribute("required", "");
                elem1.removeAttribute("disabled")
            })
        }
    });
</script> -->

{% endblock %}