 {% extends "layout.html" %}{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/card2.css')}}"> {% endblock %}{% block main %}
<div class="content-wrapper">
    {% for key in Arr %}
    <div class="news-card">
        <a href="/queDisplay/{{tshirtId}}=t/{{key.publicId}}=p" class="news-card__card-link">
            <div class="card1">
            </div>
        </a>

        <a href="/queDisplay/{{tshirtId}}=t/{{key.publicId}}=p">
           
            {% set post=url_for('static',filename='files/samplePosts/'+key.post) %}
            {% if key.tshirt %}
            {% set tshirt=url_for('static',filename='files/samplePostsTshirts/'+key.tshirt) %}
            {% endif %}
            <div class="news-card__image-container" style="height: 100%">
                <img  src='{{post}}' loading="lazy"  alt="{{img2}}" class="news-card__image" style="height: 100%">
          
                <img src="{{tshirt}}"  alt="" class="news-card__hover-image hidden"  style="height: 100%">
            </div>
           
        
          
</a>
    </div>
    {% endfor %}
</div>

{% endblock %}